/app/cache/*
/app/logs/*
/app/bootstrap.php.cache
/app/config/parameters.yml
/bin/
/vendor
/web/bundles/
/web/css/
/web/js/
/web/images/

# PHPSTORM PROJECT FILES #
.idea/

# UPLOADS #
web/upload/division/photo/*
!/web/upload/division/photo/index.html

