{% extends 'LjmsHomeBundle:Home:base.html.twig' %}
{% block section %}
		<div class="span5">
			<h2>Sponsors</h2>
			<p><strong>Business Owners:</strong></p>
			<p>We are actively seeking sponsors for our upcoming 2013 season.</p>
			<p>You can help a respected area organization and we'll help advertise your business.</p>
			<p>(On and off the field!)</p>
			<p>For more information please contact:<a class="click" href="mailto:test@test.com">president@ljms.info</a></p>
			<table>
				<tbody>
					<tr>
						<td>
							<h3>World Champion Sponsors</h3>
						</td>
					</tr>
					<tr>
						<td>
							<p><strong>Joe Spiker</strong></p>
							<p>Metabolic Fitness Management LLC</p>
							<p>815-274-1279</p>
							<p><a href="">www.MetabolicTrainer...</a></p>
						</td>
					</tr>
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
						<td colspan="3">
							<h3>Premier Sponsors</h3>
						</td>
					</tr>
				<tr>
					<td>
						<p><strong>Dicks Sporting Goods</strong></p>
						<p><a href="">www.dickssportinggoo...</a></p>
					</td>
					<td>
						<p><strong>Pinewood Dental</strong></p>
						<p>11979 W. 143rd Street Orland Park</p>
						<p>708-364-0641</p>
						<p><a href="">www.pinewooddental.c...</a></p>
					</td>
					<td>
						<p><strong>Sports Huddle</strong></p>
						<p>922 E. 9th St. Lockport</p>
						<p>815-838-8522</p>
						<p><a href="">www.thesportshuddle....</a></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><strong>Kallie Transportation Service, INC.</strong></p>
						<p>204 Industrial Drive Lockport</p>
						<p>815-834-0197</p>
						<p><a href="">www.kallietransporta...</a></p>
					</td>
					<td>
						<p><strong>Lynn Saso</strong></p>
						<p>Wildtree-The Better Choice</p>
						<p>630-207-2098</p>
						<p><a href="">www.mywildtree.com/L...</a></p>
					</td>
					<td> </td>
				</tr>
				</tbody>
			</table>
		</div>		
{% endblock %}